div{
  padding: 50px
}

input{
  margin-bottom: 200px;
}

button{
  padding: 50px;
}

#ReeditedCheckBox{
  color: #ffffff;
  background: #16a34a;
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  border-radius: 0.5rem;
  border: none;
}

.test{
  color: yellow;
}
